/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/


Gemfile.lock

# rvm files
.ruby-version
.ruby-gemset
.rvmrc

# rspec failure tracking
.rspec_status

# env files
.env*
!.env.template
